# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de entorno
.env
.env.local
.env.*.local

# Directorios de dependencias
node_modules/
vendor/

# Archivos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de caché
.cache/
.temp/ 