.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  
  .pagination button {
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px 12px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }
  
  .pagination button.active {
    background-color: black;
    color: white;
    font-weight: bold;
  }
  

  .triangular-banner {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  
  .triangle-group {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: nowrap;
    gap: 0;
    height: 260px;
    background-image: url('../images/FOTO_INTERIOR.jpg'); /* Tu imagen banner completa */
    background-size: cover;
    background-position: center;
  }
  
  .triangle {
    width: 16.66%; /* 6 triángulos = 100/6 */
    height: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-image: inherit;
    background-size: 600% 100%; /* Expandido 6x horizontalmente */
  }
  
  .triangle:nth-child(1) { background-position: 0% 0%; }
  .triangle:nth-child(2) { background-position: 20% 0%; }
  .triangle:nth-child(3) { background-position: 40% 0%; }
  .triangle:nth-child(4) { background-position: 60% 0%; }
  .triangle:nth-child(5) { background-position: 80% 0%; }
  .triangle:nth-child(6) { background-position: 100% 0%; }
  